name: Deploy to Firebase Hosting and Functions on merge
on:
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'
          
      - name: Install Dependencies
        run: npm ci && npm --prefix functions ci
        
      - name: Build
        env:
          FIREBASE_CONFIG_JSON: '${{ secrets.FIREBASE_CONFIG_JSON }}'
        run: |
          mkdir -p secrets
          echo '${{ secrets.FIREBASE_CONFIG_JSON }}' > secrets/firebaseConfig.json
          npm run build && npm --prefix functions run build
        
      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_EX_IT }}'
          channelId: live
          projectId: ex-it-d2598
        env:
          FIREBASE_CLI_PREVIEWS: hostingchannels
