name: Deploy to Firebase Hosting and Functions

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: npm ci && cd functions && npm ci

      - name: Build
        env:
          FIREBASE_CONFIG_JSON: '${{ secrets.FIREBASE_CONFIG_JSON }}'
        run: |
          mkdir -p secrets
          echo '${{ secrets.FIREBASE_CONFIG_JSON }}' > secrets/firebaseConfig.json
          npm run build

      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          # User confirmed secret name: FIREBASE_SERVICE_ACCOUNT_EX_IT
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_EX_IT }}'
          projectId: ex-it-d2598
          channelId: live
